.pageLayoutFirstDiv {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

@media (min-width: 768px) {
    .pageLayoutFirstDiv.customers {
        background-image: url('../../../public/images/customers-bg.webp');
    }

    .pageLayoutFirstDiv.stores {
        background-image: url('../../../public/images/stores-bg.webp');
    }
}

@media (max-width: 768px) {
    .pageLayoutFirstDiv.customers,
    .pageLayoutFirstDiv.stores {
        background-image: none;
        height: auto;
    }
}
