.heroSection {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .heroSection.customers,
    .heroSection.stores {
        background-image: none;
    }
}

@media (max-width: 768px) {
    .heroSection {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100vw;
        margin-top: 72px;
    }

    .heroSection.customers {
        background-image: url('../../../public/images/customers-bg.webp');
        height: calc(100vw * 0.6611);
    }

    .heroSection.stores {
        background-image: url('../../../public/images/stores-bg.webp');
        height: calc(100vw * 0.6396);
    }
}
