.heroSection {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .heroSection.customers,
    .heroSection.stores {
        background-image: none;
    }
}

@media (max-width: 768px) {
    .heroSection {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100vw;
        margin-top: 72px;
    }

    .heroSection.customers {
        background-image: url('../../../public/images/customers-bg.webp');
        height: calc(100vw * 0.6611);
    }

    .heroSection.stores {
        background-image: url('../../../public/images/stores-bg.webp');
        height: calc(100vw * 0.6396);
    }
}

.heroSection h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.heroSection p {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
}

@media (min-width: 730px) {
    .heroSection h1 {
        font-size: 28px;
        line-height: 42px;
    }

    .heroSection p {
        font-size: 20px;
        line-height: 30px;
    }
}

@media (min-width: 768px) {
    .heroSection h1 {
        font-size: 48px;
        line-height: 72px;
    }

    .heroSection p {
        font-size: 24px;
        line-height: 36px;
    }
}

@media (min-width: 960px) {
    .heroSection h1 {
        font-size: 52px;
        line-height: 78px;
    }

    .heroSection p {
        font-size: 26px;
        line-height: 49px;
    }
}

@media (min-width: 1120px) {
    .heroSection h1 {
        font-size: 60px;
        line-height: 90px;
    }

    .heroSection p {
        font-size: 32px;
        line-height: 48px;
    }
}


