.logoLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1;
}

.appName {
    font-size: 32px;
    line-height: 30px;
    color: white;
    font-weight: 600;
}

.version {
    font-size: 16px;
    line-height: 24px;
    color: #cccccc;
    font-weight: 500;
}

@media (max-width: 767px) {
    .appName {
        font-size: 24px;
        line-height: 22px;
    }

    .version {
        font-size: 12px;
        line-height: 18px;
    }
}

.icon {
    display: block;
    width: 40px;
    height: 40px;
}

/* Desktop >=768px */
@media (min-width: 768px) {
    .icon {
        width: 60px;
        height: 60px;
    }
}